<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <header>
       <h1>beatsByMe-v2 Login Page</h1>
    </header>
    <br>
    
        <a href="http://lethal-turn.surge.sh/">Make Music</a>
        <a href="http://localhost:3000/signup">Make an Account</a>
        <a href="http://localhost:3000/API">API</a>
        <a href="http://localhost:3000/signout">Logout</a>


    
    <form method="POST">
        <label>
            username:
            <input type="text" name="name">            
        </label>
        <br>
        <label>
            Password:
            <input type="password" name="password">
        </label>
        <br>
        <input type="submit" value="Submit!">
        <input type="reset">
    </form>
</body>
</html>