<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lilita+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/addons/p5.sound.min.js"></script>
     <!-- <script src="visuzlizer.js"></script>  -->
    <title>Make🔥Beats!</title>
</head>

<body>
    
    <header>
        <h1 style="background:url(images/sunBackground.jpeg)">🔊beatsByME🔊</h1>
    </header>

    <!-- <div class="pads">
        <div class="hiHat">
            <button style="background:url(images/Red_button.png)" class="hihatButton"
                onclick= "playHiHat()"> Hi-hat
            </button>
        </div>
        <div class="snare">
            <button style="background:url(images/Red_button.png)" class="hihatButton"
                onclick= "playSnare()"> Snare
            </button>
        </div>
        <div class="lowBass">
            <button style="background:url(images/Red_button.png)" class="hihatButton"
                onclick= "playLowBass()"> BOOM!
            </button>
        </div>
         <div class="chirp">
            <button style="background:url(images/Red_button.png)" class="hihatButton"
                onclick= "playChirp()"> Synth
            </button>
        </div>
        <div class="trump">
            <button style="background:url(images/Red_button.png)" class="hihatButton"
                onclick= "playTrump()"> Drip
            </button>
        </div>
        
        <div class="kick">
            <button style="background:url(images/Red_button.png)" class="hihatButton"
                onclick= "playKick()"> Kick
            </button> -->
        <!-- </div> -->
        <!-- <div class="orch1">
            <button style="background:url(images/Red_button.png) class="hihatButton">
                <embed src="assets/Orch_hit_1.mp3" 
                align="baseline" border="0" width="145" 
                height="60" autostart="false" loop="true">
            </button> -->
           
        
            
        </div>
    </div>  

    <div class="pads" >
        <div class="pad1">
         <h1>A</h1>
        </div>
        <div class="pad2">
        <h1>S</h1>
        </div>
        <div class="pad3">
        <h1>D</h1>
        </div>
    </div>  
    <div class="pads2">
        <div class="pad4">
        <h1>F</h1>
        </div>
        <div class="pad5">
        <h1>G</h1>
        </div>
        <div class="pad6">
         <h1>H</h1>
        </div>
    </div>

    <div>
        <!-- Does the onclick do anything????? -->
        <button class="js-restart" onclick="touchStarted()">
            Play
        </button>
         <!-- Does the onclick do anything????? -->
        <button class="js-stop" onclick="drums.stop()">
            Stop
        </button>
    </div>
       
        <script class = "sequencer"
        src="/scripts/sequencer.js">
        </script>
        <!-- <script src="/scripts/sounds.js"></script> -->
        <script src="index2.js"></script>
        

</body>
</html>


