html {
    background-image: url("images/orange_clouds.jpg");
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
  }
   
  header h1 {
    margin: 0px 0px 0px 0px;
    text-align: center;
    font-size: 60px;
    color: springgreen;
    border: rgb(211, 63, 9);
    border-style: solid;
  }
  
  .p5Canvas {
    /* display: flex; */
    /* flex-flow: row; */
    /* justify-content: space-evenly; */
    /* align-content: flex-end; */
    margin-top: 2px;
    /* transform: rotate(-90deg); */
  }
  
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* .sequencer {
    display: inline-block;
    justify-content: flex-end;
    text-align: center;
  } */
  
  /* .footer {
    position: absolute;
    display: flex; 
    justify-content: flex-end;
    text-align: center;
    bottom: 0;
  } */
  
  .js-restart {
    color: springgreen;
    /* background-image: url("images/blueButton.jpeg"); */
    background-color: black;
    font-size: 20px;
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 0px;
  }
  
  .js-stop {
    color: whitesmoke;
    /* background-image: url("images/blueButton.jpeg"); */
    background-color: crimson;
    font-size: 20px;
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 0px;
  }
  
  .hihatButton {
    background-color: rgba(131, 11, 39, 0.461); /*Green
    /* border: lightgreen; */
    /* border-style: solid; */
    color: lightgreen;
    padding: 50px 50px;
    /* margin: auto; */
    /* text-align: center; */
    /* text-decoration: none; */
    /* display: inline-flexbox; */
    border-radius: 50%;
    /* font-size: 16px; */
    text-align: center;
    /* border: none; */
  }
  
  /* .app {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    } */
    
    .pads {
      /* background: lightblue; */
      width: 30%;
      display: flex;
      width:fit-content;
      /* display: flex; */
      /* flex-wrap: wrap; */
      /* flex-direction: row; */
       /* justify-content: center; */
      /* justify-items: center; */
      /* position: relative; */
     margin-top: 100px;
       padding: 2px 2px;
       justify-content: space-evenly;
  
  }
  
    .pads2 {
      /* background: lightblue; */
      width: fit-content%;
      display: flex;
    }
    
    .pads > div {
      height: 100px;
      width: 100px;
      flex: 1;
    }
    .pads2 > div {
      height: 100px;
      width: 100px;
      flex: 1;
    }
    
    .pads > div > h1 {
      margin: 5px;
      padding: 5px;
      text-align: center;
      color: #fff;
      font-size: 40px;
      
    }
    .pads2 > div > h1 {
      margin: 5px;
      padding: 5px;
      text-align: center;
      color: #fff;
      font-size: 40px;
      
    }
    
    .pad1 {
      background: darkred;
      border-style: solid;
      border-spacing: 10px;
      background-image: url(images/sunlike.jpeg);
      background-size: cover;
      background-attachment: scroll;
    }
    .pad2 {
      background: darkred;
      border-style: solid;
      border-spacing: 10px;
      background-image: url(images/sunlike.jpeg);
      background-size: cover;
      background-attachment: scroll;
    }
    .pad3 {
      background: darkred;
      border-style: solid;
      border-spacing: 10px;
      background-image: url(images/sunlike.jpeg);
      background-size: cover;
      background-attachment: scroll;
    }
    .pad4 {
      background: darkred;
      border-style: solid;
      border-spacing: 10px;
      background-image: url(images/sunlike.jpeg);
      background-size: cover;
      background-attachment: scroll;
    }
    .pad5 {
      background: darkred;
      border-style: solid;
      border-spacing: 10px;
      background-image: url(images/sunlike.jpeg);
      background-size: cover;
      background-attachment: scroll;
    }
    .pad6 {
      background: darkred;
      border-style: solid;
      border-spacing: 10px;
      background-image: url(images/sunlike.jpeg);
      background-size: cover;
      background-attachment: scroll;
    }
    
    
  